@{
    ViewBag.Title = "Contact Us";
}
<br/><br /><br/>
<div>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@SavingsTarget.com">Support@SavingsTarget.com</a><br /><br/>
        <strong>Marketing:</strong> <a href="mailto:Marketing@SavingsTarget.com">Marketing@SavingsTarget.com</a>
    </address>
</div><br/><br><br/>